@charset "utf-8";
/* CSS Document */

/* css 清理 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-weight: inherit;font-style: inherit;font-family: inherit; }/*font:inherit; HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;
    }
/* 清理结束 */
body{margin:0; padding:0; font-family:"Verdana";  color:#5F5F5F;}
h1,h2,h3,h4,h5,h6,dl,dt,dd,p,pre,ul,li,form,button,ol{margin:0; padding:0;}
input,select,textarea{font-size:12px;margin:0; padding:0; }
textarea{border:1px solid #5F5F5F;}
ul,ol{list-style:none;}
img{border:0;}
a{text-decoration:none; color:#5F5F5F;outline:none;}


body{background:url(../images/loginbg.jpg) no-repeat center top }
.wapper{width:100%; margin:0 auto; height:100%; overflow:hidden; }
.content{ width:1350px; 
margin:52px auto;height:auto; overflow:hidden;
}
.top{ width:100%; margin:0 auto;height:auto; overflow:hidden; text-align:right;}
.login{width:536px; margin:45px auto;height:auto; overflow:hidden;background: rgba(241, 241, 241, 0.7);
    border-radius: 10px;
    padding-right: 38px;}
.line1{ width:100%; margin:0 auto;height:auto; overflow:hidden;}
.line2{width:100%; margin:40px auto;height:auto; overflow:hidden;}
.line2 ul{ width:100%; float:left;height:auto; overflow:hidden;}
.line2 ul li{width:100%; float:left; margin-top:5px;}
.line2 .input{ width:100%; height:50px; line-height:50px; border:0px; background:#ffffff; border-radius:5px; font-family:"Verdana"; font-size:18px; color:#818181; text-indent:22px; font-weight:lighter}
.line2 .left{ width:35%; float:left;height:36px; 
overflow:hidden; }
.line2 .right{ width:60%; float:right;height:auto; overflow:hidden;}
.line2 .sunmit{ width:30%; height:40px; line-height:40px; border:0px; background:#e97760; border-radius:5px;font-family:"Verdana"; font-size:18px; color:#ffffff;font-weight:lighter}
.line2 .reset{ width:100%; height:50px; line-height:50px; border:0px; background:#818181; border-radius:5px;font-family:"Verdana"; font-size:18px; color:#ffffff;font-weight:lighter}
.line2 .left2{ width:49%; height:auto;text-align:center; overflow:hidden; margin-top:20px }
.line2 .right2{ width:49%; height:auto; text-align:center;overflow:hidden; margin-top:20px}


